.posts {
  display: flex;
  justify-content: baseline;
  padding-top: 20px;
  gap: 40px;
}

.posts img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.status {
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 10px;
  font-size: 15px;
}

.posts-text {
  font-size: 14px;
  margin-top: 50px;
}

.post-write {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.post-textArea {
  border-radius: 4px;
  border: none;
  padding: 10px;
  min-height: 200px;
  max-width: 530px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  overflow: hidden;
}

.post-textArea::placeholder {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.select-theme-box {
  position: relative;
  right: 0;
  float: left;
  min-width: 500px;
}

.select-theme::-ms-expand {
  display: none;
}

.select-theme-box:after {
  content: "<>";
  font: 17px "Consolas", monospace;
  color: #757575;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  top: 7px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}

.select-theme {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  min-height: 40px;
  float: right;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  padding: 7px 10px;
  border-radius: 4px;
  background-color: white;
  background-image: none;
  border: none;
  -ms-word-break: normal;
  word-break: normal;
}
